<!--<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills pull-right">
            {{#if user}}
            <li role="presentation"><a href="/">Dashboard</a></li>
            <li role="presentation"><a href="/users/logout">Logout</a></li>
            {{else}}
            <li role="presentation"><a href="/users/login">Login</a></li>

            {{/if}}
        </ul>
    </nav>
    <h3 class="text-muted">LoginApp</h3>
</div>-->

<nav class="navbar container">
    <div class="container">
        <ul class="navbar-list">
            <li class="navbar-item">
                <div class="navbar-header">Curriculr on the go</div>
            </li>
        </ul>
        <ul *ngIf="_userService.getCurrentUser()" class="navbar-list u-pull-right">
            <li class="navbar-item u-pull-right">
                <a class="navbar-link" (click)='logout()'>Logout</a>
            </li>
        </ul>
    </div>
</nav>